<html>
  <body>
    Hello, <%= name %>

    <form action="/tweets" method="get" id="global-nav-search">
      <label class="hidden-elements" for="search-query">Search</label>

      <input type="text" name="search_term" >
      </input>

    </form>
    <ul>
      <% tweets.each do |tweet| %>
        <li>
          <%= tweet['from_user_name'] %> || <%= tweet['text'] %>
        </li>
      <% end %>
    </ul>
  </body>
</html>
